[Unit]
Description=Dropbox

[Service]
Type=simple
ExecStart=%h/.dropbox-dist/dropbox
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
