# https://github.com/zoqaeski/systemd-user-units/blob/master/user/tmux.service

[Unit]
Description=tmux default session (detached)
Documentation=man:tmux(1)

[Service]
Environment=DISPLAY=:0
Type=forking
WorkingDirectory=%h
ExecStart=/usr/bin/tmux new-session -d -s1
ExecStartPost=/usr/bin/tmux source-file %h/.config/tmux/conf
ExecStop=/usr/bin/tmux kill-server
Restart=always
KillMode=none

[Install]
WantedBy=default.target



