# https://github.com/zoqaeski/systemd-user-units/blob/master/user/tmux.service

[Unit]
Description=tmux default session (detached)
Documentation=man:tmux(1)

[Service]
Environment=DISPLAY=:0
Type=forking
WorkingDirectory=%h
ExecStart=/usr/bin/tmux -f %h/.config/tmux/conf new-session -d -sone
ExecStop=/usr/bin/tmux kill-session -sone
Restart=always
KillMode=none

[Install]
WantedBy=default.target



