[filter "media"]
	clean             = git-media-clean %f
	smudge            = git-media-smudge %f

[user]
  name              = Guy Hughes
  email             = g@gxg.me
  signingkey        = 0x363026BBDB4B35B7

[alias]
  a                 = add
  ai                = add --interactive
  af                = add --force
  au                = add -u
  ap                = add --patch

  br                = branch
  bra               = branch -vva
  branches          = branch -vva

  co                = checkout

  r                 = remote
  remotes           = remote -v
  discard           = checkout -- .

  ci                = commit --verbose
  cm                = "!sh -c 'git commit --message=\"$*\"' -"
  cia               = add --interactive
  auc               = "!sh -c 'git add -u && git commit --verbose' -"

  d                 = diff -C -w ; -w===--ignore=all-space; -C===--find-copies
  dw                = diff -C -w --color-words=. ; word diff with no ws
  dad               = diff -C --ws-error-highlight=all ; dad shows ws errors ;'all' includes context
  dih               = diff -C -w HEAD
  dic               = diff -C -w --cached
  diffs             = diff -C -w --summary --stat

  st                = status --short --branch
  stv               = status --verbose --branch

  l                 = "!sh -c 'git lol -n10'"
  lol               = log --graph --oneline --decorate --abbrev-commit --date-order
  last              = log -n 10 --decorate
  lola              = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %C(blue)by %an%Creset - %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --all

  rl                = reflog --decorate

  ls                = ls-files
  ignored           = ls-files --others -i --exclude-standard

  insta             = instaweb

  x                 = annex

  schoolboy         = "!sh -c 'git archive --format zip --prefix=\"$1_$(git rev-parse --short HEAD)/\" -o $1_$(git rev-parse --short HEAD).zip HEAD' -"
  whois             = "!sh -c 'git log -i -1 --pretty = \"format:%an <%ae>\n\" --author = \"$1\"' -"
  rewrite-date      = "!d=\"$(gdate -d \"$1\")\" && shift && GIT_COMMITTER_DATE=\"$d\" \
                        git commit --amend --date \"$d\""

[color]
  ui                = auto

[color "diff"]
  whitespace        = red reverse

[core]
  whitespace        = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  autocrlf          = input
  editor            = vim
  excludesfile      = ~/.gitignore

[github]
  user              = guyhughes

[branch]
  autosetupmerge    = false

[pager]
  color             = true

[merge]
  stat              = true
	tool              = vimdiff2

[log]
  abbrevCommit      = true

[status]
  showUntrackdFiles = normal

[diff]
  mnemonicPrefix    = true
  renames           = copies
  algorithm         = minimal

[diff "zip"]
  textconv          = unzip -c -a

[format]
  pretty            = %Cred%h%Creset%C(yellow)%d%Creset %C(blue)by %an%Creset - %s %Cgreen(%cr)%Creset
  graph             = true

[url "git@github.com:"]
  insteadOf         = "gh:"
  pushInsteadOf     = "gh:"
  pushInsteadOf     = "git://github.com/"

[url "git@gist.github.com:"]
  insteadOf         = "gist:"
  pushInsteadOf     = "gist:"
  pushInsteadOf     = "git://gist.github.com/"

[rebase]
  stat              = true

[help]
  autocorrect       = 0

[daemon]
  uploadarch        = true

[push]
  default           = current

[mergetool]
  keepBackup        = true

[include]
  path              = .config/git-hub-oauth

; vim: set ft=gitconfig tw=0 ts=2 sw=2 sts=2 et:
