[filter "media"]
  clean          = git-media-clean %f
  smudge         = git-media-smudge %f

[user]
  name           = Guy Hughes
  email          = guy@guyhughes.ca

[credential]
# osx only
# helper         = osxkeychain

[alias]
  ai             = add --interactive
  ls             = ls-files
  br             = branch
  cb             = "!sh -c 'git branch $1 && git ch $1' -"
  ch             = checkout

  ci             = commit
  cimp            = "!sh -c 'git commit -um \"$1\"  && git push -u origin' -"
  aicup           = "!sh -c 'git add --interactive && git commit -u && git push -u origin' -"
  cap            = "!sh -c 'git commit -a && git push -u origin' -"
  cup            = "!sh -c 'git commit -u && git push -u origin' -"

  discard        = checkout -- .

  d              = diff
  st             = status --short
  graph          = log --graph
  last           = log -n 10
  whois          = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"

[color]
  ui             = auto

[color "diff"]
  whitespace     = red reverse

[core]
  whitespace     = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  autocrlf       = input
  editor         = vim
  excludesfile   = ~/.gitignore

[github]
  user           = guyhughes

[branch]
  autosetupmerge = true

[pager]
  color          = true

[merge]
  stat           = true

[log]
  abbrevCommit   = true

[diff "zip"]
  textconv       = unzip -c -a

[format]
  pretty         = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
  graph          = true


[url "git@github.com:"]
  insteadOf      = "gh:"
  pushInsteadOf  = "gh:"
  pushInsteadOf  = "git://github.com/"



[url "git@gist.github.com:"]
  insteadOf      = "gist:"
  pushInsteadOf  = "gist:"
  pushInsteadOf  = "git://gist.github.com/"

[rebase]
  stat           = true

[help]
  autocorrect    = 0

[daemon]
  uploadarch     = true

[push]
  default        = current

[mergetool]
  keepBackup     = true
