[filter "media"]
	clean  = git-media-clean %f
	smudge = git-media-smudge %f

[user]
  name       = Guy Hughes 
  email      = g@gxg.me 
  signingkey = 0x363026BBDB4B35B7

[alias]
  rewrite-date = "!d=\"$(gdate -d \"$1\")\" && shift && GIT_COMMITTER_DATE=\"$d\" \
            git commit --amend --date \"$d\""
  ai           = add --interactive
  au           = add -u
  
  ls           = ls-files
  br           = branch
  co           = checkout


  cau          = "!sh -c 'git add -u && git commit' -"
  c            = commit
  ci           = commit
  cia          = "!sh -c 'git add --interactive && git commit' -"
  aic          = "!sh -c 'git add --interactive && git commit' -"

  discard      = checkout -- .

  d            = diff
  stv          = status --verbose --branch
  st           = status --short --branch
  ignored      = ls-files --others -i --exclude-standard
  graph        = log --graph
  last         = log -n 10
  whois        = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"

  insta        = instaweb --httpd=webrick
  x            = annex

[color]
  ui             = auto

[color "diff"]
  whitespace     = red reverse

[core]
  whitespace     = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  autocrlf       = input
  editor         = vim
  excludesfile   = ~/.gitignore

[github]
  user           = guyhughes

[branch]
  autosetupmerge = true

[pager]
  color          = true

[merge]
  stat           = true

[log]
  abbrevCommit   = true

[status]
  showUntrackdFiles = normal

[diff "zip"]
  textconv       = unzip -c -a

[format]
  pretty         = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
  graph          = true

[url "git@github.com:"]
  insteadOf      = "gh:"
  pushInsteadOf  = "gh:"
  pushInsteadOf  = "git://github.com/"

[url "git@gist.github.com:"]
  insteadOf      = "gist:"
  pushInsteadOf  = "gist:"
  pushInsteadOf  = "git://gist.github.com/"

[rebase]
  stat           = true

[help]
  autocorrect    = 0

[daemon]
  uploadarch     = true

[push]
  default        = current

[mergetool]
  keepBackup     = true
